[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
fastapi-users = {extras = ["sqlalchemy"], version = "*"}
databases = {extras = ["sqlite"], version = "*"}


[dev-packages]

[requires]
python_version = "3.8"
